<header>
  <div class="header-logo">
    <a href="/">TweetApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
</header>

<!-- Define the posts array -->
<%
  posts = [
    "Learning Rails with Progate!",
    "Trying to display the posts!"
  ]
%>

<div class="main posts-index">
  <div class="container">
    <!-- Add an each method -->
    <% 
      posts.each do |post|
    %>
      <div class="posts-index-item">
        <!-- Display the post using <%= %> -->
        <%= post%>
      </div>
    <!-- Add the end for the each method -->
    <% end %>
  </div>
</div>
